/*all_common_style*/
.horizontal_item{
	display: inline-block;
}

.vertical_item{
	display: block;
}


/*nav_bar_style*/
#site_title_on_top_nav_bar{
	float: left;
	height: 100%;
	width: 200px;
	font-size: 1.5em;
	background-color: #ffd319;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	color: white;
}

#search_func_on_nav_bar{

}

#search_button_on_nav_bar{
	border-radius: 10px;
}

#func_button_on_nav_bar{
	margin-right: 10px;
	height: 100%;
}

.all_button_on_nav_bar{
	border-style: none;
	background-color: white;
	border: solid 1px #ffd319;
	font-size: 1.0em;
}
.all_button_on_nav_bar:hover{
	background-color: #ffd319;
	color: white;
	font-size: 1.2em;
}